@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap");

@import "react-toastify/dist/ReactToastify.css";

:root {
  --cyan: rgb(0, 139, 139);
  --purple: purple;
  --red: rgb(202, 24, 24);
  --green: rgb(0, 128, 0);
  --salmon: rgb(250, 128, 114);
}

body {
  font-family: "Lato", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.no-border {
  border: 0;
}

@media screen and (max-width: 750px) {
  :root {
    font-size: 10px;
  }
}

@import url("./home.css");
@import url("./tasks.css");
