@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --blue: rgb(23, 119, 178);
  --purple: purple;
  --red: rgb(202, 24, 24);
}

body {
  font-family: "Lato", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  :root {
    font-size: 10px;
  }
}

@import url("./home.css");
@import url("./tasks.css");
