.task-btn {
  box-sizing: border-box;
  border-radius: 0.5rem;
  width: fit-content;
}

.task-card-title {
  height: 3rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.task-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  margin: 2rem;
}

.task-list {
  overflow-y: scroll;
}

.modal-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.bg-sky-blue {
  background-color: var(--blue);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-crimson {
  background-color: var(--red);
}

.task-info-box {
  min-width: 25rem;
  max-width: 30rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
}
